@model Nomina.Entities.Empleados

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este Empleado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartamentoNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamentoNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPuestoNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPuestoNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioMensual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalarioMensual)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary active" role="button" aria-pressed="true">Volver al listado de Empleados</a>
    </form>
</div>
