@model IndexEmpleadosModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Lista de Empleados</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary active" role="button" aria-pressed="true">Crear nuevo Empleado</a>
</p>

<br />

<div class="row">
    <div class="col-8">
        <form asp-action="Index">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control" asp-for="SelectedFilter" asp-items="Model.Filter">
                        </select>
                    </div>
                    <input type="text" asp-for="TextFilter" class="form-control col-md-6" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <p>
            <a asp-action="ImportExcel" class="btn btn-success active" role="button" aria-pressed="true">Importar a Excel</a>
        </p>
    </div>
</div>

<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().IdDepartamentoNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().IdPuestoNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados.First().SalarioMensual)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Empleados)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.IdPuestoNavigation.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.SalarioMensual)</td>

                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Accion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }

        @if (!Model.Empleados.Any())
        {
            <tr>
                <td colspan="7" align="center" style="color: darkblue; font-size:18px">No se encontraron registros</td>
            </tr>
        }

    </tbody>
</table>